.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  height: 917px;
  position: relative;
  overflow: hidden;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 366px;
  height: 378px;
  position: absolute;
  left: 15px;
  top: 168px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ai-assistant {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 422px;
}
.settings {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 13px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 383px;
}
.bars-status-bar-i-phone-x {
  width: 412px;
  height: 48px;
  position: absolute;
  left: -7px;
  top: 3px;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.battery {
  height: auto;
  position: absolute;
  left: 373px;
  top: 20px;
  overflow: visible;
}
.wifi {
  width: 16.78px;
  height: 11.96px;
  position: absolute;
  left: 346.84px;
  top: 18.91px;
  overflow: visible;
}
.mobile-signal {
  width: 18.68px;
  height: 11.64px;
  position: absolute;
  left: 322.64px;
  top: 19.27px;
  overflow: visible;
}
.time-style {
  width: 14.4%;
  height: 40.91%;
  position: absolute;
  right: 80%;
  left: 5.6%;
  bottom: 27.27%;
  top: 31.82%;
  overflow: hidden;
}
._9-41 {
  color: #171717;
  text-align: center;
  font-family: "SfProText-Semibold", sans-serif;
  font-size: 15px;
  letter-spacing: -0.3px;
  font-weight: 600;
  position: absolute;
  right: 0.33px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.lucide-triangle {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 18px;
  top: 907px;
  transform: translate(0px, -24px);
  overflow: visible;
  aspect-ratio: 1;
}
.material-symbols-menu-rounded {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 883px;
  overflow: visible;
  aspect-ratio: 1;
}
.mynaui-square {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 191px;
  top: 883px;
  overflow: visible;
  aspect-ratio: 1;
}
.teenyicons-shield-tick-solid {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 90px;
  top: 75px;
  overflow: visible;
  aspect-ratio: 1;
}
.taskify {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 40px;
  line-height: 120.09%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 68px);
  top: 63px;
}
.organize-prioritize-and-accomplish-your-goals-with-ai-assistance {
  color: #000000;
  text-align: center;
  font-family: "Inika-Regular", sans-serif;
  font-size: 14px;
  line-height: 120.09%;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  left: 81px;
  top: 123px;
}
.tdesign-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 27px;
  top: 305px;
  aspect-ratio: 1;
}
.group {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.f-7-menu {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 23px;
  top: 266px;
  overflow: visible;
  aspect-ratio: 1;
}
.my-tasks {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 271px;
}
.rivet-icons-inbox {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 27px;
  top: 239px;
  overflow: visible;
  aspect-ratio: 1;
}
.inbox {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 238px;
}
.vector {
  width: 4.85%;
  height: 2.18%;
  position: absolute;
  right: 88.11%;
  left: 7.04%;
  bottom: 60.74%;
  top: 37.08%;
  overflow: visible;
}
.task-master {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 15px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: absolute;
  left: 27px;
  top: 191px;
}
.projects {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 308px;
}
.calendar {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 343px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  background: #115ef7;
  border-radius: 15px;
  width: 290px;
  height: 48px;
  position: absolute;
  left: 66px;
  top: 613px;
}
.new-task {
  color: #ffffff;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 20px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 625px;
}
.lets-icons-setting-line {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 29px;
  top: 379px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 162px;
  height: 34px;
  position: absolute;
  left: 44px;
  top: 721px;
}
.active-2 {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 13px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: absolute;
  left: 93px;
  top: 730px;
}
.completed-0 {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 13px;
  letter-spacing: -0.3px;
  font-weight: 700;
  position: absolute;
  left: 262px;
  top: 730px;
}
.vector2 {
  width: 6.8%;
  height: 2.84%;
  position: absolute;
  right: 86.17%;
  left: 7.04%;
  bottom: 51.69%;
  top: 45.47%;
  overflow: visible;
}
